// GRID

.container
  margin: 0 auto
  
.grid-row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  &.reverse
    flex-direction: row-reverse
    
.grid-column
  display: flex
  flex-direction: column
  &.reverse
    flex-direction: column-reverse
    
.grid-item
  position: relative
  flex: 0 1 auto
  max-width: 100%
  max-height: 100%
  &.no-gutter
    padding-left: 0
    padding-right: 0
  &.flex-grow
    flex-grow: 1
  
// FLEX POSITIONING

  //ALIGN CONTENT  

.align-content-start
  align-content: flex-start

.align-content-center
  align-content: center

.align-content-end
  align-content: flex-end
  
.align-content-between  
  align-content: space-between

.align-content-around
  align-content: space-around

.align-content-stretch
  align-content: stretch

  //ALIGN ITEMS 
    
.align-items-start
  align-items: flex-start

.align-items-center
  align-items: center

.align-items-end
  align-items: flex-end
  
.align-items-baseline
  align-items: baseline

.align-items-stretch
  align-items: stretch
  
  //ALIGN SELF 

.align-self-auto
  align-self: auto
  
.align-self-start
  align-self: flex-start

.align-self-center
  align-self: center

.align-self-end
  align-self: flex-end
  
.align-self-baseline
  align-self: baseline

.align-self-stretch
  align-self: stretch
  
  //JUSTIFY CONTENT 

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end
  
.justify-between
  justify-content: space-between
  
.justify-around
  justify-content: space-around
  
// MARGINS & PADDING

margin($prop, $side, $micro = false, $tiny = false, $small = false, $basic = false, $mid = false, $large = false)
  if $micro
    .{$prop}-{$side}-micro
      {$prop}-{$side}: $micro
  
  if $tiny
    .{$prop}-{$side}-tiny
      {$prop}-{$side}: $tiny
  
  if $small
    .{$prop}-{$side}-small
      {$prop}-{$side}: $small

  if $basic
    .{$prop}-{$side}-basic
      {$prop}-{$side}: $basic
  
  if $mid
    .{$prop}-{$side}-mid
      {$prop}-{$side}: $mid
  
  if $large
    .{$prop}-{$side}-large
      {$prop}-{$side}: $large
  
// GRID

grid($width = false, $gutter = false, $size = false, $cols = 12)
  
  if $width
    .container
      width: $width
    
  if $gutter
    .grid-item
      padding: 0 ( $gutter / 2 )
      
  // COLUMN SIZES & OFFSETS

  if $gutter and $size
    for offset in 0..($cols - 1)
      .grid-row
        .offset-{$size}-{col}
          margin-left: ( 100% / $cols ) * offset

    for col in 1..$cols
      .item-{$size}-{col}
        flex-basis: ( 100% / $cols ) * col
      .grid-row > .item-{$size}-{col}
        max-width: ( 100% / $cols ) * col
      .grid-column > .item-{$size}-{col}
        max-height: ( 100% / $cols ) * col

  // MARGINS & PADDING
  
  if $gutter
    $margin-micro = ($gutter / 3)
    $margin-tiny = ($gutter / 2)
    $margin-small = ($gutter)
    $margin-basic = ($gutter * 2)
    $margin-mid = ($gutter * 3.5)
    $margin-large = ($gutter * 5)
  
    margin('margin', 'top', $margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)
    margin('margin', 'bottom', $margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)
    margin('padding', 'top', $margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)
    margin('padding', 'bottom', $margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)
    
    
// GRID TEST

.grid-test
  .container
    background: lightyellow
    border: yellow 2px solid
  .grid-item
    background: lightgrey
    border: grey 2px
  .grid-row
    border: red 2px solid
    background: pink
  .grid-column
    border: blue 2px solid
    background: lightblue
  .grid-item
    border-style: dashed
    
