  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import 'helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// GRID

@import "grid"

// ******************************************************

// TYPOGRAPHY

@import "type"

// ******************************************************

// VARIABLES

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

// ******************************************************

// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto

// ******************************************************

// MEDIA QUERIES

grid(96%, 14px, s)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  grid(680px, 21px, m)

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  grid(1000px, 24px, l)

  @import 'responsive/desktop'
  
@media screen and (min-width: 1280px)
  
  grid(1200px)

@media screen and (min-width: 1366px)

  grid(1300px)

@media screen and (min-width: 1680px)

  grid(1600px)

@media screen and (min-width: 1920px)

  grid(1800px)
