// GRID

.container
  margin: 0 auto
  
.grid-row
  display: flex
  flex-direction: row
  flex-wrap: wrap
  &.reverse
    flex-direction: row-reverse
    
.grid-column
  display: flex
  flex-direction: column
  &.reverse
    flex-direction: column-reverse
    
.grid-item
  position: relative
  flex: 0 1 auto
  max-width: 100%
  max-height: 100%
  &.no-gutter
    padding-left: 0
    padding-right: 0
  &.flex-grow
    flex-grow: 1
  
// FLEX POSITIONING

  //ALIGN CONTENT  

.align-content-start
  align-content: flex-start

.align-content-center
  align-content: center

.align-content-end
  align-content: flex-end
  
.align-content-between  
  align-content: space-between

.align-content-around
  align-content: space-around

.align-content-stretch
  align-content: stretch

  //ALIGN ITEMS 
    
.align-items-start
  align-items: flex-start

.align-items-center
  align-items: center

.align-items-end
  align-items: flex-end
  
.align-items-baseline
  align-items: baseline

.align-items-stretch
  align-items: stretch
  
  //ALIGN SELF 

.align-self-auto
  align-self: auto
  
.align-self-start
  align-self: flex-start

.align-self-center
  align-self: center

.align-self-end
  align-self: flex-end
  
.align-self-baseline
  align-self: baseline

.align-self-stretch
  align-self: stretch
  
  //JUSTIFY CONTENT 

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end
  
.justify-between
  justify-content: space-between
  
.justify-around
  justify-content: space-around
  
// GRID

grid($width = false, $gutter = false, $size = false, $cols = 12)
  
  if $width
    .container
      width: $width
    
  if $gutter
    .grid-item
      padding: 0 ( $gutter / 2 )
      
  // COLUMN SIZES & OFFSETS

  if $gutter and $size
    for offset in 0..($cols - 1)
      .grid-row
        .offset-{$size}-{offset}
          margin-left: ( 100% / $cols ) * offset

    for col in 1..$cols
      .item-{$size}-{col}
        flex-basis: ( 100% / $cols ) * col
      .grid-row > .item-{$size}-{col}
        max-width: ( 100% / $cols ) * col
      .grid-column > .item-{$size}-{col}
        max-height: ( 100% / $cols ) * col

// MARGINS & PADDING

space-maker($micro = false, $tiny = false, $small = false, $basic = false, $mid = false, $large = false)
  if $micro
    .margin-top-micro
      margin-top: $micro
    .margin-bottom-micro
      margin-bottom: $micro
    .padding-top-micro
      padding-top: $micro
    .padding-bottom-micro
      padding-bottom: $micro
  
  if $tiny
    .margin-top-tiny
      margin-top: $tiny
    .margin-bottom-tiny
      margin-bottom: $tiny
    .padding-top-tiny
      padding-top: $tiny
    .padding-bottom-tiny
      padding-bottom: $tiny
  
  if $small
    .margin-top-small
      margin-top: $small
    .margin-bottom-small
      margin-bottom: $small
    .padding-top-small
      padding-top: $small
    .padding-bottom-small
      padding-bottom: $small
  
  if $basic
    .margin-top-basic
      margin-top: $basic
    .margin-bottom-basic
      margin-bottom: $basic
    .padding-top-basic
      padding-top: $basic
    .padding-bottom-basic
      padding-bottom: $basic
      
  if $mid
    .margin-top-mid
      margin-top: $mid
    .margin-bottom-mid
      margin-bottom: $mid
    .padding-top-mid
      padding-top: $mid
    .padding-bottom-mid
      padding-bottom: $mid
  
  if $large
    .margin-top-large
      margin-top: $large
    .margin-bottom-large
      margin-bottom: $large
    .padding-top-large
      padding-top: $large
    .padding-bottom-large
      padding-bottom: $large
    
// GRID TEST

.grid-test
  .container
    background: lightyellow
    border: yellow 2px solid
  .grid-item
    background: lightgrey
    border: grey 2px
  .grid-row
    border: red 2px solid
    background: pink
  .grid-column
    border: blue 2px solid
    background: lightblue
  .grid-item
    border-style: dashed
    
