  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'kouto-swiss'
@import '../../globie-library/helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// BOWER LIBRARY

@import 'library/library'

// ******************************************************

// GRID

@import '../../globie-library/grid'

// ******************************************************

// TYPOGRAPHY

@import '../../globie-library/type'

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .001em
$font-tracking-wider = .05em

html
  font-family: $font-sans
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

.font-larger
  font-size: $font-size-larger

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

// ******************************************************

// BASIC

html
  color: $color-black
  background-color: $color-white

img
  height: auto
  max-width: 100%

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// MEDIA QUERIES

$gutter = 14px

$margin-micro = ($gutter / 3)
$margin-tiny = ($gutter / 2)
$margin-small = ($gutter)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

$font-size-basic = 12px
$font-size-h1 = 28px
$font-size-h2 = 21px
$font-size-h3 = 16px

grid(96%, $gutter, s)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

font-sizes($font-size-basic, $font-size-h1, $font-size-h2, $font-size-h3)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid(680px, $gutter, m)

  font-sizes($font-size-basic)

  .mobile-only
    display: none !important

  @import 'responsive/tablet-portrait'

@media screen and (min-width: 1024px)

  $gutter = 24px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 16px

  grid(1000px, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic)

  .desktop-only
    display: initial !important

  @import 'responsive/tablet-landscape'

@media screen and (min-width: 1280px)

  grid(1200px)

  @import 'responsive/laptop'

@media screen and (min-width: 1366px)

  grid(1300px, false, xl)

  @import 'responsive/desktop'

@media screen and (min-width: 1680px)

  grid(1600px)

  @import 'responsive/hd'

@media screen and (min-width: 1920px)

  grid(1800px)
