@import '~kouto-swiss/index.styl'
@import '~globie-styl-library/helpers'

// ******************************************************

// RESETS

meyer-reset()
box-sizing-reset()
normalize()


// ******************************************************

// GRID

@import '~globie-styl-library/grid'

// ******************************************************

// FONTS
@import 'fonts/fonts'

$font-sans = font-stack('Helvetica')
$font-serif = font-stack('Georgia')

// ******************************************************


// TYPOGRAPHY

@import '~globie-styl-library/type'

$font-size-larger = 1.3rem

$font-leading-basic = 1.35
$font-leading-tighter = 1.15
$font-leading-larger = 1.45

$font-tracking-basic = .001em
$font-tracking-wider = .05em

html
  font-family: $font-sans
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

.font-larger
  font-size: $font-size-larger

.line-tighter
  line-height: $font-leading-tighter

.line-larger
  line-height: $font-leading-larger

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

// ******************************************************

// BASIC

html
  color: $color-black
  background-color: $color-white

img
  height: auto
  max-width: 100%

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

// ******************************************************

// MEDIA QUERIES

@import 'responsive/mobile'

@import 'responsive/tablet-portrait'

@import 'responsive/tablet-landscape'

@import 'responsive/laptop'

@import 'responsive/desktop'

@import 'responsive/hd'

@media screen and (min-width: 1920px)

  grid-maker(1800px)
