@media screen and (min-width: 720px)

  $gutter = 21px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 3.5)
  $margin-large = ($gutter * 5)

  $font-size-basic = 14px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker(680px, $gutter, m)

  font-sizes($font-size-basic)

  .mobile-only
    display: none !important

